body {
  overflow: hidden;
  margin: 0%;
  height: 100%;
  animation: color 5s infinite linear;
  animation-direction: alternate;
  background: #bca89f;

}

/* gradient background*/
@keyframes color {
  0%   { background: #bca89f; }
  20%  { background: #a08679; }
  100%  { background: #8b6c5c; }
}

#logo {
  /*Logo must be in the top left*/
  position: absolute;
  top: 5px;
  left: 10px;

}

#title {
  color: black;
  font-family: Chalkduster, Comic Sans MS;
  font-size: 500%;
  text-align: center;
  padding: 0%;
  text-shadow: 3px 1px white;
  letter-spacing: 5px;
  
}

#slogan {
  color: black;
  font-family: Chalkduster;
  font-weight:bolder;
  text-align: center;
  margin-top: -1%;
  font-size: 300%;

  /*Adds the white shadow effect in the background*/
  text-shadow: 3px 1px white;
  letter-spacing: 5px;
}

#homePhotos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -60px;
}

#edamam-badge {
  position: absolute;
  bottom: 0;
  left: 0;
}

nav {
  position: static;
  justify-content: center;
  margin-top: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

/*transition code: w3 schools and a blog I found */
nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

/*if we need a dropdown this is the css for it */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  float: none;
}

.dropdown-menu li a {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}

  /*search bar*/
.search-bar {
  margin-top: -2.5%;
  padding-right: 10px;
  display: flex;
  justify-content: right;

  
}

.search-bar form {
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}


.search-bar button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}